
@font-face {
  font-family: 'NBP-Informa-FiveSix';
  src: url('NBP-Informa-FiveSix.eot?#iefix') format('embedded-opentype'),  url('NBP-Informa-FiveSix.woff') format('woff'), url('NBP-Informa-FiveSix.ttf')  format('truetype'), url('NBP-Informa-FiveSix.svg#NBP-Informa-FiveSix') format('svg');
  font-weight: normal;
  font-style: normal;
}
