// container class for the <main> el
main {
	font-family: $font-sans;
	font-size: 1.4rem;
	line-height: 1.2;

	ul, ol {
		margin-bottom: 15px;
	}

	li {
		line-height: 1.1;
		list-style: square;
		margin-left: 20px;
		padding-left: 5px;
		margin-bottom: 3px;

		// fix for markdown parser
		> p {
			margin-bottom: 0;
		}
	}
}

.styled-content {
	font-family: $font-sans;

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto 20px;
	}

	a {
		color: $color-b;

		&:hover {
			color: $color-lorange;
		}
	}

	em {
		font-style: italic;
	}

	h2 {
		color: $color-y;
		font-family: $font-serif;
		font-size: 1.8rem;
		margin-bottom: 10px;
	}

	h3 {
		color: $color-y;
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	h4 {
		color: $color-b;
		font-size: 1.3rem;
		margin-bottom: 10px;
	}

	* + h2 {
		margin-top: 40px;
	}

	* + h3 {
		margin-top: 30px;
	}

	* + h4 {
		margin-top: 20px;
	}
}
