// Shared utilities for rendered markdown
// Used in .md files

.md-text-center {
	text-align: center;
}

.md-image-caption {
	text-align: center;
	font-size: 0.9em;
	margin-top: -10px;
	margin-bottom: 30px;
}

.md-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	> * {
		margin: 0 10px;
	}

	&--spacious {
		> * {
			margin: 0 40px;
		}
	}

	&--align-bottom {
		align-items: flex-end;
	}
}
