// Shared utilities for rendered markdown
// Used in .md files

.md-text-center {
	text-align: center;
}

.md-image-caption {
	text-align: center;
	font-size: 0.8em;
	margin-top: -10px;
	margin-bottom: 30px;
	// font-style: italic;
}

.md-image-hover {
	img {
		transition: 0.4s;

		&:hover {
			background-color: rgba(white, 0.3) !important;
		}
	}
}

.md-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	img {
		margin-bottom: 10px;
	}

	> * {
		margin: 0 10px;
	}

	&--spacious {
		> * {
			margin: 0 40px;
		}
	}

	&--align-bottom {
		align-items: flex-end;
	}
}
